@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
}

.ui-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 30px;

}

.card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.image {
    width: 100%;
    margin: 10px auto;
    padding: 5px;
}

.img {
    width: 100%;
    border-radius: 50%;
    padding: 5px;
}