@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
    background: #f2f2f2;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    margin: auto;
}

.poke-container {
    margin: auto;
    width: 90%;
    padding: 10px;
}

.header-container {
    border-radius: 0px !important;
}

.header-text {
    margin: 0 auto;
}

.random-pokemon {
    margin: 0 auto;
}


.card {
    position: relative;
    height: fit-content;
    font-family: 'Roboto Mono', monospace;
    max-width: 300px;
    border-radius: 4px;
    color: #000;
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    background-color: #FFF;
    border: 1px solid black;
}

.image {
    position: relative;
    width: 180px;
    margin: 10px auto;
}

.img {
    width: 180px;
    border-radius: 50%;
}